Repository DuongTyler/haachama-coco, pull requests merged in 2020-10, with the labels that each got.

#18 Fun Merge Time
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/gamesSection/gameCard/gameCard.css
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/components/gamesSection/gameSection.css
  frontend/src/components/gamesSection/gameSection.tsx
  frontend/src/components/gamesSection/gameWindow.tsx
  frontend/src/components/messageCardSection/messageCardLayout.css
  frontend/src/components/messageCardSection/messageCardSection.tsx
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/components/messageSection/messageSection.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/components/navigation/navbar.tsx
  frontend/src/pages/gallery/art.css
  frontend/src/pages/gallery/art.tsx
  frontend/src/pages/game/game.css
  frontend/src/pages/game/game.tsx
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
  frontend/src/shared/components/spinner/spinner.css
  frontend/src/shared/components/spinner/spinner.tsx
  frontend/src/shared/globalStyles/global.css
Labels: frontend

#21 fix messagecard CSS styling
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: bug, frontend

#23 replace country with region in api
  backend/main/server/models.py
  backend/main/server/resources/Message.py
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/models/dummyMessage.ts
  frontend/src/models/message.ts
  frontend/src/models/region.ts
  frontend/src/pages/home/home.tsx
Labels: backend, frontend

#28 make game page pull from database
  frontend/src/pages/game/game.tsx
  frontend/src/tempGameStash/games.json
Labels: frontend

#31 New color palette
  frontend/src/App.css
  frontend/src/assets/backgrounds/App-root-bg.svg
  frontend/src/assets/cards/fake_card.svg
  frontend/src/assets/icons/AloeHeartIcon.png
  frontend/src/assets/icons/temp_logo.svg
  frontend/src/assets/miscellaneous/Aloeicon.gif
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/components/messageSection/messageSection.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/components/navigation/navbar.tsx
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
  frontend/src/shared/components/spinner/spinner.css
  frontend/src/shared/components/spinner/spinner.tsx
Labels: bug, enhancement, frontend

#39 Fix background and add back header
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/backgrounds/App-root-bg.svg
  frontend/src/assets/backgrounds/top-bg.svg
Labels: frontend

#38 replaced youtube-nocookie with invidious.xyz embeds for better privacy
  frontend/src/components/archiveSection/archiveCard.tsx
  frontend/src/components/archiveSection/archiveSection.css
  frontend/src/models/archive.ts
Labels: enhancement, frontend

#37 Annoucement feature
  backend/main/server/api.py
  backend/main/server/models.py
  backend/main/server/resources/Announcement.py
  frontend/src/App.css
  frontend/src/components/announcementSection/announcementCard.tsx
  frontend/src/components/announcementSection/announcementSection.tsx
  frontend/src/controllers/mano-aloe.service.ts
  frontend/src/models/announcement.ts
  frontend/src/models/response.ts
  frontend/src/pages/home/home.tsx
  frontend/src/shared/globalStyles/global.css
Labels: backend, enhancement, frontend

#43 #41 fix site and navbar title text
  frontend/public/index.html
  frontend/src/components/navigation/navbar.tsx
Labels: frontend

#47 fix videos, yet again
  frontend/src/models/archive.ts
Labels: frontend

#48 remove fade component
  frontend/src/pages/home/home.tsx
  frontend/src/shared/animation/fade.tsx
  frontend/src/shared/components/spinner/spinner.css
  frontend/src/shared/components/spinner/spinner.tsx
Labels: bug, frontend

#52 make mobile view less crap
  frontend/src/components/timer/timer.css
  frontend/src/shared/globalStyles/global.css
Labels: enhancement, frontend

#50 Timer styling
  frontend/src/assets/timer/Coco_Dragon_1.png
  frontend/src/assets/timer/Coco_Dragon_2.png
  frontend/src/assets/timer/Haaton_1.png
  frontend/src/assets/timer/Haaton_2.png
  frontend/src/assets/timer/coco_rawr.png
  frontend/src/assets/timer/coco_smug.png
  frontend/src/assets/timer/dragon0.png
  frontend/src/assets/timer/dragon1.png
  frontend/src/assets/timer/haachama_happy.png
  frontend/src/assets/timer/haachama_wink.png
  frontend/src/assets/timer/haaton0-armsup.png
  frontend/src/assets/timer/haaton0.png
  frontend/src/assets/timer/haaton1-armsup.png
  frontend/src/assets/timer/haaton1.png
  frontend/src/components/archiveSection/archiveSection.css
  frontend/src/components/archiveSection/archiveSection.tsx
  frontend/src/components/messageSection/messageSection.tsx
  frontend/src/components/timer/timer.css
  frontend/src/components/timer/timer.tsx
  frontend/src/pages/home/home.tsx
  frontend/src/shared/globalStyles/global.css
Labels: enhancement, frontend

#54 create ansible playbook for deployment
  .gitignore
  ansible/ansible.cfg
  ansible/hosts/hosts.yml
  ansible/playbooks/holosite.yml
  ansible/vars/vars.yml
  backend/requirements.txt
  systemd/cocochama.service
  systemd/flaskserver.service
Labels: backend, enhancement, frontend

#57 bug fix check if null
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/models/message.ts
Labels: bug, frontend

#59 use environment secret key instead of hard-coded one
  backend/main/server/jwt.py
Labels: backend, enhancement

#60 Style overhaul
  frontend/src/App.css
  frontend/src/assets/backgrounds/App-root-bg.svg
  frontend/src/assets/backgrounds/top-bg.svg
  frontend/src/assets/timer/coco_rawr2.png
  frontend/src/assets/timer/coco_rawr3.png
  frontend/src/components/inPageNav/inPageNav.css
  frontend/src/components/timer/timer.css
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: enhancement, frontend

#61 Add coco card asset
  frontend/src/assets/cards/coco_card_2.svg
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: enhancement, frontend

#62 hotfix css for production
  frontend/src/App.css
  frontend/src/components/inPageNav/inPageNav.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/globalStyles/global.css
Labels: bug, frontend

#64 fix videos and surrender to google's data collection
  frontend/src/models/archive.ts
Labels: bug, frontend

#63 display message on missing data
  frontend/src/pages/gallery/art.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: enhancement, frontend

#66 fix odd spacing on announcement card
  frontend/src/pages/gallery/art.tsx
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: frontend

#68 add new card designs
  frontend/src/assets/cards/card4.png
  frontend/src/assets/cards/card5.png
  frontend/src/assets/cards/coco_card_2.svg
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: enhancement, frontend

#70 what the frick is this bug
  frontend/src/shared/components/baseCard/baseCard.css
Labels: bug, frontend

#71 fix #33 minify SVGs
  frontend/src/assets/backgrounds/App-root-bg.svg
  frontend/src/assets/backgrounds/top-bg.svg
  frontend/src/assets/backgrounds/video-container-bg.svg
  frontend/src/assets/cards/card1.svg
  frontend/src/assets/cards/coco_card_2.svg
  frontend/src/assets/cards/fake_card.svg
  frontend/src/assets/icons/temp_logo.svg
  frontend/src/assets/icons/translateIcon.svg
  frontend/src/assets/icons/twitterIcon.svg
  frontend/src/assets/icons/youtubeIcon.svg
Labels: frontend, keystone

#67 giving some credits to our artists
  README.md
Labels: documentation

#75 fix 320px phone screen res and fix anchors
  frontend/src/App.css
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageSection.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/components/timer/timer.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/globalStyles/global.css
Labels: bug, frontend

#77 Card styling update
  README.md
  frontend/src/assets/cards/card6.svg
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: documentation, enhancement, frontend

#82 remove card design
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: enhancement, frontend
